<div class="user-main">
  <div class="user-form">
    <div class="user-postit" id="user-postit">
      <div class="user-title">献立登録</div>
      <%= form_with model: @list, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render partial: "recipe_list", collection: @recipe_lists, :locals => {:f => f} %>
        <input type="hidden" name="date" value="<%= @date %>">
      <div class="actions" id="actions">
        <%= f.submit "登録" %> 
      </div>
      <% end %>
    </div>
  </div>
</div>
