@font-face{
  font-family: "HuiFontP29";
  src: url('../fonts/HuiFontP29.ttf');
}

body{
  background-image: url(backimage.jpeg);
}

/* ヘッダー */

header {
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.991);
  display: flex;
  align-items: center;
  z-index: 10;
}

.header-title {
  margin: 0; padding: 0;
  font-size: 20px;
}

.title-logo {	
  text-decoration: none;
  color: #908a60;
}

.header-nav {
  margin: 0 0 0 auto;
}

.header-btns {
  list-style: none;
  margin: 0;
  display: flex;
}

.hedder-btn {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.hedder-btn a{
  text-decoration: none;
  color: #908a60;
}

/* メインコンテンツ */

main{
  max-width: 1024px;
  margin: 64px auto 0 auto;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postit {
  position: relative;
  margin: 3em 5px 1em 5px;
  background: #fff6e6;
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
  padding: 22px 8px 22px 8px;
  background-color: #fff6e6;
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff6e6 0%, #fff6e6 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #908a60 100%);
  background-size: 8px 100%,100% 2em;
  line-height: 2;
  color: #908a60;
  font-weight: bold;
  width: 25%;
}
.postit-title {
  background: #fff6e6;
  font-size: 1.2em;
  padding: 7px 0 0 16px;
  margin: -16px -8px 16px -8px;
  color: #908a60;
  font-weight:bold;
}
.postit:after {
  position: absolute;
  content: "";
  top: 20px;
  width: 30%;
  height: 35px;
  opacity: 0.4;
  margin: -35px auto 10px 35%;
  background: #ffffff;
  transform: rotate(-2deg);
  left: 10px;
  right: 10px;
}

.postit p {
  margin: 0 0 0 5px;
  padding: 0;
}

.top_btn {
  width: 40px;
  background: #908a60;
  text-align: center;
  border-radius: 4px;
  bottom: 50px;
  left: -3px;
  position: fixed;
  padding: 15px;
  color: #fff6e6;
  text-decoration: none;
}

/* ユーザー機能フォーム周り */

.user-main{
  padding-top: 64px;
  /* display: flex; */
  /* justify-content: center; */
  min-height: 640px;
}

.user-title {
  background: #fff6e6;
  font-size: 25px;
  padding-top: 7px;
  margin: -16px -8px 16px -8px;
  color: #908a60;
  font-weight:bold;
  text-align: center;
}

.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-postit {
  position: relative;
  margin: 3em 5px 1em 5px;
  background: #fff6e6;
  padding: 22px 8px 22px 8px;
  background-color: #fff6e6;
  line-height: 2;
  color: #908a60;
  font-weight: bold;
  width: 90vw;
  max-width: 560px;
}

.user-postit:after {
  position: absolute;
  content: "";
  top: 5px;
  width: 45%;
  height: 55px;
  opacity: 0.4;
  margin: -35px auto 10px 26%;
  background: #ffffff;
  transform: rotate(-2deg);
  left: 10px;
  right: 10px;
}

.field, .actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.field {
  margin: 0 0 10px 80px;
}

.actions {
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
}

.field input {
  background-color: #fff6e6;
  border: none;
  border-bottom: 1px solid #908a60;
  width: 80%;
  padding-left: 15px;
  padding-top: 6px;
  font-size: 20px;
  color: #908a60;
}

.field input:focus {
  outline: none;
}

.actions input {
  position: absolute;
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  left: calc( 50% - 40px);
}

.actions input:hover {
  transition: 0.3s;
  opacity: 0.7;
}

/* レシピ登録ページ */
.ingredient {
  display: flex;
  justify-content: space-around;
}

.ingredient input {
  text-align: center;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

.btn input {
  border: none;
  border: 1px solid #908a60;
  background-color: #fff6e6;
  color: #908a60;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  margin: 0 40px;
}

.add-btn {
  margin-right: 10px;
}

/* レシピ一覧画面 */

.recipe-btn {
  text-align: center;
}

.recipe-btn a {
  color: #908a60;
  margin: 0 10px;
}

.line {
  text-align: center;
}

.search-content {
  padding-top: 60px;
  margin: 0 auto 30px auto;
  max-width: 1024px;
  text-align: center;
}

.search-content input {
  height: 50px;
  border-radius: 4px;
  text-align: center;
  border: none;
}

.search-text {
  width: 60vw;
  min-width: 320px;
  max-width: 540px;
}

.search-text:focus {
  outline: none;
}

.search-btn {
  width: 60px;
  background-color: #908a60;
  color: #fff6e6;
}

/* 食材修正ページ */

.ingredient-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.ingredient-actions input {
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 4px;
}

.ingredient-delete-btn {
  display: inline-block;
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}

/* 献立登録機能 */
.select-btns {
  display: flex;
  justify-content: space-around;
}

.select-btns a {
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 25px;
  width: 60px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
}

.all-randomp-wrapper {
  padding-top: 50px;
  display: flex;
}

.all-random {
  text-decoration: none;
  display: block;
  background-color: #908a60;
  color: #fff6e6;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  max-width: 300px;
}

.all-random:hover {
  transition: 0.3s;
  opacity: 0.85;
}

/* 買い物リスト */
.shopping_lists {
  color: #908a60;
  text-align: center;
  border-collapse: collapse;
  border-color: #908a60;
  margin: 0 auto;
}

.shopping_lists th, .shopping_lists td {
  border: 1px solid #908a60;
  padding: 7px;
  font-weight: bold;
}

.input-stock {
  text-align: center;
  width: 100%;
}

.input-stock:focus {
  outline: none;
}

/* フッター */

footer {
  height: 50px;
  background-color: darkgray;
}

/* タブレット対応 */
@media (max-width: 1024px) {

  .postit {
    width: 33vw;
  }

  .ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
  }

  .ingredient div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .field {
    margin: 0 0 10px 20px;
  }

  .field input {
    width: 90%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {


  .postit {
    width: 70%;
  }

  .field input {
    width: 90%;
  }

  .field {
    margin: 0 0 10px 20px;
  }

  .search-text {
    margin-bottom: 10px;
  }

  .shopping_lists {
    font-size: 12px;
  }

}