@font-face{
  font-family: "HuiFontP29";
  src: url('/fonts/HuiFontP29.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'HuiFontP29';
  box-sizing: border-box;
}

body{
  background-image: url(backimage.jpeg);
  background-size: cover;
}

/* ヘッダー */

header {
  padding: 20px 4% 20px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
}

.header-title {
  margin: 0; padding: 0;
  font-size: 20px;
}

.title-logo {	
  text-decoration: none;
  color: #908a60;
}

.header-nav {
  margin: 0 0 0 auto;
}

.header-btns {
  list-style: none;
  margin: 0;
  display: flex;
}

.hedder-btn {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.hedder-btn a{
  text-decoration: none;
  color: #908a60;
}

.flash {
  margin-top: 61px;
  -webkit-animation: fade-in-out 3s ease 2s forwards;
  animation: fade-in-out 3s ease 0s forwards;
}

@-webkit-keyframes fade-in-out {
  0% {visibility: visible; opacity: 1;}
  85% {visibility: visible; opacity: 1;}
  100% {visibility: hidden; opacity: 0;}
}

.flash-message {
  padding: 25px 0;
  background-color: rgba(144, 138, 96, 0.8);
  color: #fff6e6;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}

/* メインコンテンツ */

main{
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px;
}

.random-menu-title {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.pull-down-button {
  width: 300px;
  background-color: #fff6e6;
  color: #908a60;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 0;
  border-bottom: 1px solid #908a60;
  font-weight: bold;
  transition: 0.2s;
  border: none;
  font-size: 23px;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
}

.pull-down-button:hover {
  background-color: #908a60;
  color: #fff6e6;
  transition: 0.3s;
  opacity: 0.9;
}

.random-menu {
  display: flex;
  justify-content: center;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.random-menu-terms {
  width: 300px;
  background-color: #fff6e6;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  transition: 0.3s;
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
}

.random-menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  margin-top: 25px;
  color: #908a60;
  font-weight: bold;
}

.random-menu-row label {
  font-size: 18px;
}

.random-menu-row select, .random-menu-row input {
  color: #fff6e6;
  border: none;
  background-color: #908a60;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  text-align: center;
}

.attention {
  text-align: center;
  margin-top: 5px;
  width: 240px;
}

.attention p {
  color: #908a60;
  font-size: 12px;
}

.random-menu-submit {
  margin-top: 40px;
  text-align: center;
}

.random-menu-submit a {
  display: inline-block;
  text-decoration: none;
  line-height: 48px;
}

.random-menu-submit input, .random-menu-submit a {
  color: #fff6e6;
  border: 1px solid #fff6e6;
  border-radius: 4px;
  background-color: #908a60;
  font-weight: bold;
  width: 150px;
  height: 50px;
}

.hidden {
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.active {
  background-color: #908a60;
  color: #fff6e6;
  font-weight: bold;
  border-radius: 0px;
  transition: 0.2s;
}

.postit {
  position: relative;
  margin: 3em 5px 1em 5px;
  background: #fff6e6;
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
  padding: 22px 8px 22px 8px;
  background-color: #fff6e6;
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff6e6 0%, #fff6e6 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #908a60 100%);
  background-size: 8px 100%,100% 2em;
  line-height: 2;
  color: #908a60;
  font-weight: bold;
  width: 320px;
}
.postit-title {
  background: #fff6e6;
  font-size: 1.2em;
  padding: 7px 0 0 16px;
  margin: -16px -8px 16px -8px;
  color: #908a60;
  font-weight:bold;
}
.postit:after {
  position: absolute;
  content: "";
  top: 20px;
  width: 30%;
  height: 35px;
  opacity: 0.4;
  margin: -35px auto 10px 35%;
  background: #ffffff;
  transform: rotate(-2deg);
  left: 10px;
  right: 10px;
}

.postit p {
  margin: 0 0 0 5px;
  padding: 0;
}

.top_btn {
  width: 40px;
  background: #908a60;
  text-align: center;
  border-radius: 4px;
  bottom: 60px;
  left: -3px;
  position: fixed;
  padding: 15px;
  color: #fff6e6;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.32);
}

.category-name {
  background-color: #908a60;
  color: #fff6e6;
  padding: 3px;
  font-size: 12px;
}

.red {
  background-color: rgb(189, 53, 53);
}

.blue {
  background-color: #e69934;
}

.yellow {
  background-color: #c5c234;
}

/* ユーザー機能フォーム周り */

.user-main{
  padding-top: 64px;
  min-height: 640px;
}

.user-title {
  background: #fff6e6;
  font-size: 25px;
  padding-top: 7px;
  margin: -16px -8px 16px -8px;
  color: #908a60;
  font-weight:bold;
  text-align: center;
}

.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-postit {
  position: relative;
  margin: 3em 5px 1em 5px;
  background: #fff6e6;
  padding: 22px 8px 22px 8px;
  background-color: #fff6e6;
  line-height: 2;
  color: #908a60;
  font-weight: bold;
  width: 90vw;
  max-width: 560px;
}

.user-postit:after {
  position: absolute;
  content: "";
  top: 5px;
  width: 45%;
  height: 55px;
  opacity: 0.4;
  margin: -35px auto 10px 26%;
  background: #ffffff;
  transform: rotate(-2deg);
  left: 10px;
  right: 10px;
}

.field, .actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.field {
  margin: 0 0 10px 80px;
}

.actions {
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
}

.field input {
  background-color: #fff6e6;
  border: none;
  border-bottom: 1px solid #908a60;
  width: 80%;
  padding-left: 15px;
  padding-top: 6px;
  font-size: 20px;
  color: #908a60;
}

.field input:focus {
  outline: none;
}

.actions input {
  position: absolute;
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  left: calc( 50% - 53px);
}

.actions input:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.login-btn {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.guest-login {
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  font-size: 8px;
}

/* レシピ登録ページ */
.ingredient {
  display: flex;
  justify-content: space-around;
}

.ingredient input {
  text-align: center;
}

.btn {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn input {
  border: none;
  border: 1px solid #908a60;
  background-color: #fff6e6;
  color: #908a60;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  margin: 0 40px;
}

.add-btn {
  margin-right: 10px;
}

.ingredient input {
  height: 40px;
}

.folder-btns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-folder {
  margin: 7px;
}

.select-list {
  background-color: #908a60;
  color: #fff6e6;
  padding: 3px;
  text-align: center;
  border: 1px solid #908a60;
  border-radius: 4px;
  margin: 5px;
}

.select-list:focus {
  outline: none;
}

.recipe-category {
  display: flex;
  justify-content: center;
}

/* レシピ一覧画面 */

.recipe-btn {
  text-align: center;
}

.recipe-btn a {
  color: #908a60;
  margin: 0 10px;
}

.line {
  text-align: center;
}

.search-content {
  padding-top: 60px;
  margin: 0 auto 30px auto;
  max-width: 1024px;
  text-align: center;
}

.search-content input {
  height: 50px;
  border-radius: 4px;
  text-align: center;
  border: none;
}

.search-text {
  width: 60vw;
  min-width: 260px;
  max-width: 540px;
}

.search-text:focus {
  outline: none;
}

.search-btn {
  width: 60px;
  background-color: #908a60;
  color: #fff6e6;
}

.recipe-index-btns {
  display: flex;
}

.recipe-index-btn {
  margin-left: 5px;
  display: flex;
  align-items: center;
  
}

.recipe-index-btn a {
  display: inline-block;
  margin-right:  5px;
  text-decoration: none;
  background-color: #908a60;
  color: #fff6e6;
  font-size: 12px;
  width: 40px;
  text-align: center;
}



/* 食材修正ページ */

.ingredient-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.ingredient-actions input {
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 4px;
}

.ingredient-delete-btn {
  display: inline-block;
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}

/* 献立登録機能 */
.select-btns {
  display: flex;
  justify-content: space-around;
}

.select-btns a {
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  background-color: #908a60;
  color: #fff6e6;
  border: none;
  height: 25px;
  width: 60px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
}

.all-randomp-wrapper {
  padding-top: 50px;
  display: flex;
}

.all-random {
  text-decoration: none;
  display: block;
  background-color: #908a60;
  color: #fff6e6;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  max-width: 300px;
  border: none;
}

.all-random:hover {
  transition: 0.3s;
  opacity: 0.85;
}

.search-recipe-btn {
  display: flex;
  justify-content: space-between;
}

/* フォルダ機能周辺 */
.folder {
  display: flex;
  justify-content: space-between;
}

.folder-link {
  text-decoration: none;
  color: #908a60;
  font-size: 20px;
}

.folder-btn {
  text-decoration: none;
  margin: 0 5px;
  font-size: 13px;
  padding: 8px;
  background-color: #908a60;
  color: #fff6e6;
}

.new-folder {
  text-decoration: none;
  margin: 0 5px;
  font-size: 15px;
  padding: 8px;
  background-color: #908a60;
  color: #fff6e6;
  display: block;
  width: 150px;
  margin: 0 auto 30px auto;
  text-align: center;
}

.add-list {
  text-align: center;
}

.date-select {
  display: block;
  width: 30%;
  margin: 0 auto;
  color: #908a60;
}

/* 買い物リスト */
.shopping_lists {
  color: #908a60;
  text-align: center;
  border-collapse: collapse;
  border-color: #908a60;
  margin: 0 auto;
}

.shopping_lists th, .shopping_lists td {
  border: 1px solid #908a60;
  padding: 7px;
  font-weight: bold;
}

.input-stock {
  text-align: center;
  width: 100%;
  color: #908a60;
  padding: 10px;
}

.input-stock::placeholder {
  color: lightgray;
  font-size: 12px;
}

.input-stock:focus {
  outline: none;
}

.folder-show {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 30px;
}

.new_user {
  padding-left: 30px;
}

/* フッター */

footer {
  height: 60px;
  margin-top: 50px;
  box-shadow: 3px 0 0 0 rgba(0,0,0,.22);
  background-color: rgba(255,246,230,0.75);
}

.footer-nav {
  padding: 8px 0 0 30px;
}

.footer-btns {
  list-style: disc;
}

.footer-btn {
  margin: 5px 0;
  color: rgb(26, 181, 83);
}

.footer-btn a{
  color: rgb(26, 181, 83);
}

.terms {
  position: relative;
}

.terms-title {
  font-family: sans-serif;
}

.terms * {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.terms h2 {
  font-size: 18px;
  font-weight: bold;
}

.terms ol {
  padding-left: 40px;
  list-style: decimal;
}

.terms p {
  padding-left: 30px;
}

.tr {
  position: absolute;
  bottom: -20px;
  right: 20px;
}

.privacy_policy {
  position: relative;
}

.privacy-policy-title {
  font-family: sans-serif;
}

.privacy_policy * {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.privacy_policy h2 {
  font-size: 18px;
  font-weight: bold;
}

.privacy_policy ol {
  padding-left: 40px;
  list-style: decimal;
}

.privacy_policy p {
  padding-left: 30px;
}

/* タブレット対応 */
@media (max-width: 1024px) {

  .postit {
    width: 320px;
  }

  .ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
  }

  .ingredient div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .field {
    margin: 0 0 10px 20px;
  }

  .field input {
    width: 90%;
  }

}

 /* スマホ表示 */
@media (max-width: 599px) {

  .header-title {
    font-size: 15px;
  }

  .hedder-btn a{
    font-size: 12px;
  }

  .login-user-postit {
    height: 420px;
  }

  .guest-login {
    height: 40px;
    position: absolute;
    bottom: 35px;
  }

  .actions input {
    height: 40px;
  }

  .pull-down-button {
    width: 247px;
    font-size: 18px;
  }

  .postit {
    width: 320px;
  }

  .field input {
    width: 90%;
  }

  .field {
    margin: 0 0 10px 20px;
  }

  .search-text {
    margin-bottom: 10px;
  }

  .shopping_lists {
    font-size: 12px;
  }


  .input-stock::placeholder {
    font-size: 2px;
  }

  .folder-link {
    font-size: 18px;
  }

  .folder-btn {
    font-size: 13px;
  }

}